<mat-toolbar>
        <span class="wrapper-logo" routerLink='/'> <img class="svg logo" src="assets/svg/logo_petit.svg"> Budgetbox</span>
        <!-- <div class="submenu">
            <a mat-button>Home</a>
            <a mat-button>Contact</a>
        </div> -->
</mat-toolbar>
