.mat-toolbar {
    background-color: white;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.103);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper-logo {
        display: flex;
        align-items: center;
        font-size: 27px;
        cursor: pointer;
        
        .logo {
            width: 47px;
            height: 37px;
            margin-right: 0.5rem;
            background-image: url(../../assets/svg/logo_petit.svg);
       }
    }

}