<mat-grid-list [cols]="breakpoint" rowHeight='200px' (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let productEl of products">
        <app-product-item
            [product]="productEl"
        ></app-product-item>
    </mat-grid-tile>
</mat-grid-list>

<mat-paginator [length]="total"
              [pageSize]="itemPerPage"
              [pageIndex]="pageIndex"
              [hidePageSize]="true"
              (page)='onPageChange($event)'
              >
</mat-paginator>