// .mat-grid-tile {
//     .item {
//         width: 80%;
//         height: 70%;
//         padding: 0.75rem;
//         border-radius: 10px;
//         border: solid 2px #32CD32;
//         background-color: #F9F9FA;
//     }
//     .item:hover {
//         border: solid 2px #006400;
//     }
//     .title {
//         height: 70%;

//         span {
//             font-weight: 500;
//         }
//     }
// }