<div class="item">
    <div class="title">
        <p><span>Name</span>: {{product.name}}</p>
        <p><span>Scientific name</span>: {{product.scientificName}}</p>
    </div>
    <button mat-raised-button color='primary' [routerLink]="['/', product.id, 'edit']">
        <mat-icon>edit</mat-icon> Edit
    </button>
</div>
