<div class="wrapper-card">
    <app-alert></app-alert>
    <mat-card>
        <form class="wrapper-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Scientific Name</mat-label>
                <input matInput formControlName="scientificName">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Group</mat-label>
                <mat-select name="groupId" placeholder="Favorite food" formControlName="groupId">
                    <mat-option *ngFor="let group of groups" [value]="group.id">
                        {{group.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>SubGroups</mat-label>
                <mat-select name="subGroupId" placeholder="Favorite food" formControlName="subGroupId">
                    <mat-option *ngFor="let subGroup of subGroups" [value]="subGroup.id">
                        {{subGroup.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="btn">
                <button mat-raised-button color='primary' type="submit" [disabled]="createForm.invalid">
                    <mat-icon>save</mat-icon> Save
                </button>
            </div>
        </form>
    </mat-card>
</div>