<div class="search">
    <button mat-raised-button class="btn-add" routerLink='/create'>
        <mat-icon>add</mat-icon>Create
    </button>

    <form>
        <mat-form-field>
            <mat-placeholder>Search product</mat-placeholder>
            <input matInput type="search">
            <button mat-button matSuffix mat-stroked-button aria-label="search">
              <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
    </form>
</div>

<app-product-list></app-product-list>
