<div class="wrapper-card">
    <app-alert></app-alert>
    <mat-card>
        <form class="wrapper-form" (ngSubmit)="onSubmit()" #f="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput ngModel name="name" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Scientific Name</mat-label>
                <input matInput ngModel name="scientificName" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Group</mat-label>
                <mat-select  name="groupId" placeholder="Favorite food" [(ngModel)]="selectedGroupId" required>
                  <mat-option *ngFor="let group of groups" [value]="group.id">
                    {{group.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>SubGroups</mat-label>
                <mat-select name="subGroupId" placeholder="Favorite food" [(ngModel)]="selectedSubGroupId" required>
                  <mat-option *ngFor="let subGroup of subGroups" [value]="subGroup.id">
                    {{subGroup.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <div class="btn">
                <button mat-raised-button color='primary' type="submit" [disabled]='!f.valid'>
                    <mat-icon>save</mat-icon> Save
                </button>

                <button mat-raised-button color='warn' type="button" (click)='delete()'>
                    <mat-icon>delete_outline</mat-icon> Delete
                </button>
            </div>
        </form>
    </mat-card>
</div>