.wrapper-card {
    display: flex;
    justify-content: center;
}

.mat-card {
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .wrapper-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .btn button:not(:last-child){
        margin-right: 1rem;
    }
}