<h1 mat-dialog-title>Are you sure you want to delete?</h1>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">No</button>
    <button mat-raised-button color="warn" (click)="onDelete()">Yes</button>
</div>