/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.svg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.alert-success {
    background-color: #2e7d32 
  }
  
.alert-error {
    background-color: #c62828 
}
  
.alert-warning {
    background-color: #ff8f00
}